.top{background-color: black;
width:1200px ;
height: 25px;}
.all{width: 1200px;
height: 1000px;
background-color: gray;}
.b{width: 20px;
height: 10px;
	color: white;
	margin-right: 160px;}
	.down{
		margin: auto;
		margin-top: 10px;
		background-color: antiquewhite;
		width:1000px;
		height: 500px;
	}
	.left{width: 200px;
	height: 500px;
	background-color: white;}
	.one{
		margin-bottom: 5px;
	}
	.two{height: 250px;
	margin-top: 5px;}
	.pinglun{margin-top: 50px;margin-left: 70px;width: 200px;}
	.shezhi{margin-top: 50px;margin-left: 70px;width: 200px;}
	.xinxi{margin-top: 50px;margin-left: 70px;width: 200px;}
	.图片{border-radius: 100px;}
	.xinxi:hover{
	color: #000000;}
	.shezhi:hover{
	color: #000000;}
	.pinglun:hover{
	color: #000000;}