	.fenlei{
		color: #000000;
	}
	.z{margin-right: 150px;
		margin-left:40px;}
		.down{
			margin: auto;
			margin-top: 10px;
			background-color: #79ab95;
			width:1000px;
			height: 500px;
		}
		 
	.bb{font-size: 10px;
	color: #783c00;
	margin-top: 20px;
	margin-left: 10px;
	}
	.cc{font-size: 30px;
	color: crimson;
	margin-top:10px;
	margin-left: 10px;}
	.dd{color: #ffffff;
	margin-top:20px;
	margin-left: 95px;
	font-size: 20px;}
	.e1{font-size: 10px;
	color: #783c00;
	 margin-top: 20px;
	margin-left: 95px;
	}
	.e2{font-size: 10px;
	color: #783c00;
	 margin-top: 35px;
	margin-left: 95px;
	}
	.e3{font-size: 10px;
	color: #783c00;
	 margin-top: 80px;
	margin-left: 95px;
	}
	.dianji{
		margin-top: 80px;
		margin-left: 95px;
	}
	.right2{
		margin-top:10px ;
	 margin-left: 400px;
	 }
	.ff{font-size: 10px;
	margin-top: 5px;
	margin-left: 30px;
	color: #783c00;}
	.gg{font-size: 30px;
	color: #DC143C;
	margin-top: 20px;
	margin-left: 30px;}
	.right3{ 
		width: 200px;
		height: 300px;
		 margin-left: 730px;
		 margin-top:-300px;
		 
		 
	}